{% extends 'base.html' %}

{% block body %}
<div class="navbar">
    <span class="status error">
        Could not get location!
    </span>
    <span class="status success">
        Got your location!
    </span>
    <div class="non-geo-switch">
        <a href="#">Manually enter location</a>
    </div>
    <form class="non-geo-form">
        <input type="text">
        <button type="submit">Submit</button>

        <a href="#">&times;</a>
    </form>
</div>

<div id="map"></div>
{% endblock %}
