body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}
html, body, #map {
    height: 100%;
}
body {
    background-image: url(../img/loader.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.status-bar {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 10px 20px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
    box-shadow: 0 0 10px rgba(0,0,0,.4);
}
.status-message {
    display: none;
    color: #aaa;
    font-size: 12px;
}
.error {
    color: #d11;
}
.success {
    color: #1d1;
}
.leaflet-map-pane {
    z-index: 2 !important;
}

.leaflet-google-layer {
    z-index: 1 !important;
}
